<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.example.dao.PassengerDAO">

    <resultMap id="passenger_passport" type="Passenger">
        <id property="id" column="id" />
        <result property="name" column="name" />
        <result property="sex" column="sex" />
        <result property="birthday" column="birthday" />

        <!-- 关系表中数据的封装规则    指定关系表的实体类型-->
        <!-- 指定 “一方”关系时对象，使用 association -->
        <association property="passport" javaType="Passport">
            <id property="id" column="passId"/>
            <result property="nationality" column="nationality"/>
            <result property="expire" column="expire" />
        </association>
    </resultMap>

    <!-- 查询 旅客及其护照 -->
    <select id="queryPassengerById" resultMap="passenger_passport">
        select t_passengers.id,t_passengers.name,t_passengers.sex,t_passengers.birthday,
               t_passports.id passId,t_passports.nationality,t_passports.expire
        from t_passengers join t_passports
        on t_passengers.id = t_passports.passenger_id
        where t_passengers.id=#{id}
    </select>
</mapper>