<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.example.dao.PassportDAO">


    <resultMap id="passport_passenger" type="Passport">
        <id  property="id" column="id" />
        <result property="nationality" column="nationality"/>
        <result property="expire" column="expire"/>

        <association property="passenger" javaType="Passenger">
            <id property="id" column="passenger_id"/>
            <result property="name" column="name"/>
            <result property="sex" column="sex"/>
            <result property="birthday" column="birthday"/>
        </association>
    </resultMap>

    <select id="queryPassportById" resultMap="passport_passenger">
        select t_passports.id,t_passports.nationality,t_passports.expire,
               t_passengers.id passenger_id,t_passengers.name,t_passengers.sex,t_passengers.birthday
        from t_passports join t_passengers
        on t_passengers.id = t_passports.passenger_id
        where t_passports.id=#{id}
    </select>

</mapper>